*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.confirmation-button2{
    background-color: #EE3324;
    width: 100%;
    padding: 15px;
    border-radius: 50px;
    font-size: 16px;
    color: #E8E5DE;
    /* margin-top: 10%; */
  }

  .confirmation-bar2 {
  
    width: 100%;
    height: 100%;
    padding: 30px;
    z-index: 1;
    display: grid;
    justify-content: space-between;
    align-items: center;
    overflow: auto;
    
  }
  .confirmation-item2 {
    width: 95%;
    
  }

  @keyframes grow {
    0% {
      stroke-dashoffset: 1px;
      stroke-dasharray: 0 350px;
      opacity: 0;
      stroke: #f15800;
    }
    10% {
      opacity: 1;
      stroke: #e74c3c;

    }
    40% {
      stroke-dasharray: 350px 0;
      stroke: #f18900;
    }
    /* Moving back */
    85% {
      stroke-dasharray: 350px 0;
    stroke: #e74c3c;

    }
    95%,
    to {
      stroke-dasharray: 0 350px;
    }
  }
  
  .logo-login path {
    stroke-dashoffset: 1px;
    stroke-dasharray: 350px 0;
    animation: grow 6s ease forwards infinite;
    transform-origin: center;
    stroke: #e74c3c;
    stroke-width: 2.5px;
    animation-delay: 0s; /* Animation du stroke commence immédiatement */
  }

.login{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    h4{
        color: #636363;
    }

    .logo-login {
        display: flex;
        justify-content: center;
        
        svg{
            width: 30%;
            height: auto;
        }
    }
}

.home{
    background-color: #E8E5DE;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  ::placeholder {
    color: #d8d8d8;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .form button {
    align-self: flex-end;
  }
  
  .flex-column > label {
    color: rgb(148, 148, 148);
  }
  
  .inputForm {
    border-radius: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    transition: 0.2s ease-in-out;
    background-color: #ffffff;

  }

  input{
    background-color: #ffffff;
    color: #181818;
  }
  
  .input {
    margin-left: 10px;
    background-color: #ffffff;
    color: #181818;
    border-radius: 50px;
    border: none;
    width: 100%;
    height: 100%;
    margin-left: 10px;
  }
  
  .input:focus {
    outline: none;
  }
  
  .inputForm:focus-within {
    border: 1.5px solid #EE3324;
  }
  
  .flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
  }
  .flex-row > div {
    display: flex;
    align-items: center;
  }
  .flex-row > div > label {
    font-size: 12px;
    color: rgb(66, 66, 66);
    font-weight: 400;
    margin-left: 10px;
  }

  .flex-row > div > input{
    width: 20px;
    height: 20px;
    border: 0.5px solid #181818;
    background-color: #ff0000;
  }
  
  .span {
    font-size: 14px;
    margin-left: 5px;
    color: #EE3324;
    font-weight: 500;
    cursor: pointer;
  }
  

  
  .p {
    text-align: center;
    color: rgb(148, 148, 148);
    font-size: 14px;
    margin: 5px 0;
    margin-top: 5%;
  }
  
  .btn {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    gap: 10px;
    border: 1px solid #ededef;
    background-color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  
  .btn:hover {
    border: 1px solid #EE3324;
    ;
  }

  .radio{

    background-color: #E8E5DE;
    border: 1pc solid #181818;
  }
  
      