@import url('Main.css');

.confirmation-button2{
    background-color: var(--primary-color);
    width: 100%;
    padding: 15px;
    border-radius: 50px;
    font-size: var(--text);
    color: var(--background-color);
    /* margin-top: 10%; */
  }

  .confirmation-bar2 {
  
    width: 100%;
    height: 100%;
    padding: 30px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: auto;
    background-image: url('../../public/assets/logofond.png');
    background-repeat: no-repeat;
    background-position: bottom center;
  }
  .confirmation-item2 {
    width: 95%;
    
  }

  @keyframes grow {
    0% {
      stroke-dashoffset: 1px;
      stroke-dasharray: 0 350px;
      opacity: 0;
      stroke: var(--primary-color);
    }
    10% {
      opacity: 1;
      stroke: var(--primary-color);

    }
    40% {
      stroke-dasharray: 350px 0;
      stroke: var(--secondary-color);
    }
    /* Moving back */
    85% {
      stroke-dasharray: 350px 0;
    stroke: var(--primary-color);

    }
    95%,
    to {
      stroke-dasharray: 0 350px;
    }
  }
  
  .logo-login path {
    stroke-dashoffset: 1px;
    stroke-dasharray: 350px 0;
    animation: grow 6s ease forwards infinite;
    transform-origin: center;
    stroke: var(--primary-color);
    stroke-width: 2.5px;
    animation-delay: 0s; /* Animation du stroke commence immédiatement */
  }

.login{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    h4{
        color: var(--text-color);
    }

    .logo-login {
        display: flex;
        justify-content: center;
        
        svg{
            width: 30%;
            height: auto;
        }
    }
}

.home{
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }
  
  ::placeholder {
    color: #d8d8d8;
  }
  
  .form button {
    align-self: flex-end;
  }
  
  .flex-column > label {
    color: rgb(148, 148, 148);
  }
  
  .inputForm {
    border-radius: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    transition: 0.2s ease-in-out;
    background-color: var(--white-color);
    
  }

  .inputForm i{
    
    color: var(--grey-color);
    font-size: var(--text16);
    margin-left: 6px;
  }

  input{
    background-color: var(--white-color);
    color: var(--text-color);
  }
  
  .input {
    margin-left: 10px;
    background-color: var(--white-color);
    color: var(--text-color);
    border-radius: 50px;
    border: none;
    width: 100%;
    height: 100%;
    margin-left: 10px;
  }
  
  .input:focus {
    outline: none;
  }
  
  .inputForm:focus-within {
    border: 1.5px solid var(--primary-color);
  }
  
  .flex-row1 {
    height: 40px;
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    /* gap: 10px; */
    font-size: var(--text12);
    justify-content: space-between;
    color: var(--text-color);

    .ratio{
      display: flex;
      align-items: center;
      gap: 5px;
    }
    p{
      margin: 0;
    }
    span{
      a{
      text-decoration: none;

      }
    }
  }
  .flex-row1 > div {
    display: flex;
    align-items: center;
  }
  .flex-row1 > div > label {
    font-size: var(--text12);
    color: rgb(66, 66, 66);
    font-weight: 400;
    margin-left: 10px;
  }

  .flex-row1 > div > input{
    width: 20px;
    height: 20px;
    border: 0.5px solid var(--text-color);
    background-color: var(--primary-color);
  }
  
  .span {
    font-size: var(--text12);
    margin-left: 5px;
    color: var(--primary-color);
    font-weight: 500;
    cursor: pointer;
  }
  

  
  .p {
    text-align: center;
    color: rgb(148, 148, 148);
    font-size: var(--text12);
    margin: 0;
    margin-top: 5%;
  }
  
  .btn {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    gap: 10px;
    background-color: var(--white-color);
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  
  .btn:hover {
    border: 1px solid var(--primary-color);
    ;
  }

  .radio{

    background-color: var(--background-color);
    border: 1pc solid var(--text-color);
  }
  
    /* From Uiverse.io by Shoh2008 */ 
.code {
  max-width: 190px;
  width: 50px;
  height: 50px;
  outline: none;
  margin: 5px;
  transition: .5s;
  border: none;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  /* text-overflow: ellipsis; */
  /* transform: rotate(90deg); */
  color: var(--grey-color);
}

code:focus {
  width: 150px;
  /* transform: rotate(0); */
}

.codeForm {
  border-radius: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  display:flex ;
  /* margin-bottom: 10%; */
  justify-content: center;
  transition: 0.2s ease-in-out;
  /* background-color: var(--white-color); */
  background-color: transparent;
  
}

/* From Uiverse.io by catraco */ 
/* Hide the default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  user-select: none;
  border-radius: 50%;
  background-color: white;
}

/* Create a custom checkbox */
.checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 1.3em;
  width: 1.3em;
  transition: .3s;
  transform: scale(0);
  border-radius: 50%;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #20c580;
  transform: scale(1);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

.container input:checked ~ .celebrate {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 0.45em;
  top: 0.25em;
  width: 0.30em;
  height: 0.5em;
  border: solid white;
  border-width: 0 0.15em 0.15em 0;
  transform: rotate(45deg);
}

.container .celebrate {
  position: absolute;
  transform-origin: center;
  animation: kfr-celebrate .4s;
  animation-fill-mode: forwards;
  display: none;
  stroke: var(--primary-color);
}

@keyframes kfr-celebrate {
  0% {
    transform: scale(0);
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale(1.2);
    opacity: 0;
    display: none;
  }
}

