/* Style personnalisé pour le contenu du popup */
@import url('Main.css');

.homeMap{
    /* background-color: hsl(0, 0%, 9%); */
    height: 100%;
}

.homeMap .content{
    height: 100%;
    width: 100%;
    .map{
        /* z-index: 0; */
        height: 100%;
    }
}

.leaflet-container .leaflet-touch .leaflet-fade-anim .leaflet-grab .leaflet-touch-drag .leaflet-touch-zoom{
    height: 100%;
}

.leaflet-popup-content button{
  border-radius: 10px;
  color: var(--text-color);
  background-color: var(--background-color);
  padding:5px 10px;
  margin:  5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 10px;
  border: 1px solid var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  transform: scale(1) !important;
	animation: pulse-animation 2s infinite;

}



.leaflet-popup-content {
    /* border: 2px solid #007bff;  */
    border-radius: 5px; /* Coins arrondis du popup */
    /* padding: 5px; */
    color: var(--white-color); /* Couleur du texte */
    /* margin: 10px !important; */
    p{
      margin: 0 !important;
      line-height: 1.5rem !important;
      font-size: var(--text12);
    }
  }
  
  /* Style personnalisé pour le conteneur du popup */
  .leaflet-popup {
    max-width: 200px; /* Largeur maximale du popup */
    font-size: var(--text12); /* Taille de la police */
  }
  
  /* Style personnalisé pour la flèche du popup */
  .leaflet-popup-tip {
    background-color:var(--primary-color) !important; /* Couleur de la flèche */
  }

  .leaflet-popup-content-wrapper{
    background-color: var(--primary-color) !important;
  }

  .leaflet-popup-close-button{
    color: var(--white-color) !important;
    padding: 5px;
    margin-right: 5px;
  }

  .leaflet-container .leaflet-control-attribution {
    display: none !important;
  }

  /* Dans MapComponent.css */
.leaflet-routing-container {
    font-size: var(--test-info12); /* Ajustez la taille de la police si nécessaire */
  }
  
  .leaflet-routing-instructions {
    font-size: var(--test-info12);
  }
  
  .leaflet-routing-icon {
    color: var(--win-color);
  }

  .leaflet-routing-container .leaflet-bar .leaflet-routing-collapsible .leaflet-control{
    width: 100%;
  }
 
  
  /* .leaflet-routing-alt{
    position: relative;
    width: 100%;
    border-radius: 10px;
    

    h2{
      color: #f18900 !important;
      font-size: 16px;
      margin-top: 0 !important;
    }
    h3{
        color: var(--white-color) !important;
        font-size: var(--test-info12);
        margin-top: 0 !important;
    }
  } */

  .leaflet-routing-alt {
    display: none !important;
  }

  .leaflet-top{
    width: 100%;
    justify-content: flex-end;
    padding-right: 10px;
    display: flex;
    height: auto;
    /* z-index: 997; */
  }

  .leaflet-control-zoom-in{
    border-radius: 20px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    background-color: var(--background-color) !important;
    
  }

  /* .leaflet-touch .leaflet-bar a{
    line-height: 25px !important;
  } */

  .leaflet-control-zoom{
    height: 100px;
  }

  .leaflet-control-zoom-out{
    border-radius: 20px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    background-color: var(--background-color) !important;
  }

  .leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar{
    border: none !important;
  }

  
  .search-bar {
    padding: 10px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    font-size: 14px;
    background-color: var(--background-color);
    
  }

  .search-item {
    display: flex;
    align-items: center;
    width: 95%;
    position: relative;
  }

  /* From Uiverse.io by joe-watson-sbf */ 
.search {
  display: flex;
  align-items: center;
  justify-content: stretch;
  text-align: center;
  width: 95%;
  button{
    i{
      color: var(--grey-color);

    }

 }
}

.search .clear-button {
  position: absolute; 
  right: 50px; /* Ajustez cette valeur en fonction de vos besoins */
  background: none;
  border: none;
  font-size: 2rem;
  /* margin-top: -5px; */
  font-weight: 100;
  cursor: pointer;
  color: var(--text-color);
  z-index: 1000;
  margin-right: 10px;
}

.search__input {
  font-family: inherit;
  font-size: inherit;
  background-color: #f4f2f2;
  border: none;
  color: #646464;
  padding: 0.7rem 1rem;
  border-radius: 30px;
  width: 100%;
  transition: all ease-in-out .5s;
  margin-right: -2.2rem;
}

.search__input:hover, .search__input:focus {
  box-shadow: 0 0 1em #00000013;
}

.search__input:focus {
  outline: none;
  background-color: #f0eeee;
}

.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: #ccc;
}

.search__input:focus + .search__button {
  background-color: #f0eeee;
}

.search__button {
  border: none;
  background-color: transparent;
  margin-top: .1em;
  
  
}

.search__button:hover {
  cursor: pointer;
}

.search__icon {
  height: 1.3em;
  width: 1.3em;
  fill: #b4b4b4;
}
  
  .input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 50px;
    margin-right: 10px;
    background-color: var(--white-color);
  }

  ::placeholder{
    color: var(--grey-color);
  }
  
  .button {
    color: var(--text-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--background-color);
  }

  .distance-labels {
    padding: 10px;
    background-color: var(--background-color);
    border-bottom-left-radius: 20px; 
    border-bottom-right-radius: 20px;
    position: relative;
    margin-top: -1px;
    color: var(--text-color);
    
  }

  .distance-labels .label-item .label-value{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: none !important;
    i{
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--text-color);
      padding: 4px;
      border-radius: 100px;
      width: 25px;
      height: 25px;
      margin-right: 5px;
    }

    /* label{
      display: ruby;
      align-items: center;
      justify-content: center;
    } */

    .loc{
      width: 200px; /* Définissez une largeur appropriée pour votre cas */
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      color: var(--primary-color);
    }
    span{
      margin-left: 10px;
      margin-right: 10px;
    }

    .distance{
      background-color: var(--primary-color);
      border-radius: 20px;
      padding: 5px;
      padding-left: 10px;
      padding-right: 10px;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px;
      color: var(--background-color) !important;
    }
  }
  
  .label-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
    /* font-weight: bolder; */
    font-size: var(--test-info12);
    
    .label{
      font-weight: bolder;
    }
  }

  .confirmation-bar3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 998;
    display: flex;
    height: auto !important;
    justify-content: center;
    padding: 15px;
  }
  
  .confirmation-item3 {
    width: 95%;
  }
  
  .confirmation-label3 {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 10px;
    backdrop-filter: blur(4px);
    padding: 10px;
    border-radius: 20px;
    font-size: var(--text16);
    margin-bottom: 3%;
    background-color:rgba(235, 232, 219, 0.26);
    padding: 15px;
    color: var(--background-color);
    border: 2px solid rgba(255, 255, 255, 0.1);
    /* border: 2px solid var(--text-color);
    background: linear-gradient(var(--text-color), var(--text-color)) padding-box, linear-gradient(
        var(--angle),
        var(--primary-color),
       var(--secondary-color)
      ) border-box;
    animation: 4s rotate linear infinite; */
    animation: pulse-animation 2s infinite;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    .notice{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
    img{
      width: 27px;
    }
    p{
      color: var(--background-color);
      margin: 0;
    }
    .close-button{
      color: var(--background-color);
      height: 100%;
      background-color: transparent !important;
      /* margin-top: -60px; */
      display: flex;
      align-items: center;
      float: right !important;;
      button{
        right: 0;
        height: 100%;
      }
  }
  }

  @keyframes pulse-animation {
    0% {
      box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.2);
    }
    100% {
      box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
    }
  }

  @keyframes rotate {
    to {
      --angle: 360deg;
    }
  }
  
  @property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }
  
  .confirmation-label3.show {
    opacity: 1;
    transform: translateY(0);
  }
  
  .confirmation-button3 {
    background-color: var(--primary-color);
    width: 100%;
    padding: 15px;
    border-radius: 50px;
    font-size: 16px;
    color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  

  /* Style pour l'overlay de popup */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Assure que le popup est au-dessus des autres éléments */
}

/* Style pour le contenu du popup */
.popup-content {
  background: var(--white-color); /* Fond blanc pour le popup */
  border-radius: 20px; /* Coins arrondis */
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Ombre pour le popup */
  max-width: 500px;
  width: 90%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  .inputForm{
    border: 1px solid var(--grey-color);
    /* margin-top: 20px; */
    width: 100%;
  }

  p{
    color: var(--text-color);
    margin: 0;
  }

}
.titrepopup{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  img{
    width: 27px;
    height: auto;

  }
  h4{
    font-weight: bolder;
    color: var(--text-color);
    padding-left: 10px;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}
.titrepopup2{
  display: block;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  i{
    color: var(--win-color);
    font-size: 3rem !important;
  }
  h4{
    font-weight: bolder;
    color: var(--text-color);
    padding-left: 10px;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}

/* Style pour les boutons du popup */
.popup-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  .cancel-button{
    background-color: var(--background-color) !important;
    color: var(--text-color);
  }
}

.popup-buttons button {
  width: 150px;
  background-color: var(--text-color); /* Couleur de fond des boutons */
  color: var(--background-color); /* Couleur du texte des boutons */
  border: none;
  border-radius: 50px;
  padding: 20px 20px;
  margin: 5px;
  cursor: pointer;
}


.suggestions {
  list-style-type: none;
  padding: 15px;
  margin: 15px;
  background-color: var(--white-color);
  position: absolute; /* Position absolutely within the search-item */
  top: 100%; /* Position it below the search-item */
  left: 0;
  right: 0;
  z-index: 1010; /* Ensure it's above other elements */
  max-height: 200px;
  overflow-y: auto;
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(41, 41, 41, 0.4); /* Add a shadow for better visibility */
  h4{
    color: var(--text-color);
    margin: none !important;
    margin-left: 10px;
  }
}

.suggestions li {
  padding: 10px;
  color: var(--text-color);

  i{
    color: var(--primary-color);
    margin: 10px;
  }
}

.suggestions li:hover {
  background: var(--background-color);
}

.search-item .clear-button {
  position: absolute; 
  right: 50px; /* Ajustez cette valeur en fonction de vos besoins */
  background: none;
  border: none;
  font-size: 1.5rem;
  margin-top: -5px;
  cursor: pointer;
  color: var(--grey-color);
  z-index: 1000;
}

/* input[type="file"]::file-selector-button {
  background-color: var(--primary-color);
  color: var(--background-color);
  margin-top: -6px;
  border-radius: 20px;
  border : none !important;
  width: 100%;
  height: 40px;
} */

.custum-file-upload {
  height: 200px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  gap: 20px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border: 2px dashed #cacaca;
  background-color: rgba(255, 255, 255, 1);
  /* padding: 1.5rem; */
  border-radius: 20px;
  /* margin: 6px; */
  box-shadow: 0px 48px 35px -48px rgba(0,0,0,0.2);
}

.custum-file-upload .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custum-file-upload .icon i {
  font-size: 5rem;
  color: var(--primary-color);
}

.custum-file-upload .text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custum-file-upload .text span {
  font-weight: 400;
  color: rgba(75, 85, 99, 1);
}

.custum-file-upload input {
  display: none;
}

.btn {
  outline: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-color);
  min-width: 100px;
  width: 150px;
  border: 0;
  border-radius: 50px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, .2);
  box-sizing: border-box;
  padding: 16px 20px;
  color: var(--background-color);
  font-size: var(--test-info12);
  letter-spacing: 1.2px;
  text-transform: uppercase;
  overflow: hidden;
}

.btn:hover {
  opacity: .95;
}

.btn .animation {
  border-radius: 100%;
  animation: ripple 0.6s linear infinite;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1);
  }

  100% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1), 0 0 0 80px rgba(255, 255, 255, 0);
  }
}

.cancel-button1 {
  position: fixed;
  bottom: 52%;
  right: 15px;
  z-index: 1000;
  padding: 7px;
  background-color: var(--secondary-color);
  color: var(--background-color);
  border: none;
  border-radius: 50px;
  font-size: var(--text16);
  animation: pulse-animation 2s infinite;
}

