@import url('Main.css');

.content-reservation{
    background-color: var(--background-color);
    width: 100%;
    height: 100%;
    position: relative; 
    margin-top: -55px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    padding: 15px;
    overflow-y: auto;
}

.reservations{
    width: 100%;
    height: auto;
    background-color: var(--white-color);
    border-radius: 20px;
    margin-top: 10px;
    z-index: 0;
    .statut-reservation{
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: var(--text12);
        box-shadow: 0 0px 15px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        p{
            color: var(--grey-color);
        }
        .ico-stat{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
            i{
                box-shadow: 0 0px 15px rgba(0, 0, 0, 0.1);
                width: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 20px;
                border-radius: 10px;
                color: var(--text-color);

            }
            p{
                box-shadow: 0 0px 15px rgba(0, 0, 0, 0.1);
                width: auto;
                padding:0 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 20px;
                border-radius: 10px;
                background-color: var(--win-color);
                gap: 5px;
                color: var(--text-color);

                /* color: ; */
            }
        }
        .ico-stat2{
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: var(--text-color);
            gap: 20px;
            a{
                text-decoration: none;
                i{
                    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.1);
                    width: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 20px;
                    border-radius: 10px;
                    color: var(--text-color);
                }
            }
            
            p{
                box-shadow: 0 0px 15px rgba(0, 0, 0, 0.1);
                width: 70px;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 20px;
                border-radius: 10px;
                background-color: var(--secondary-color);
                color: var(--white-color);
            }
        }
    }

    .info-reservation{
        color: var(--text-color);
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 10px;
        box-shadow: 0 0px 15px rgba(0, 0, 0, 0.1);
        border-radius: 20px;

        .info-course{

            line-height: 0rem;
            font-size: var(--text12);
            display: flex;
            flex-direction: column;
            justify-content: baseline;

            p{
                font-weight: bolder;
                height: auto;
                line-height: 1rem;
                margin: 0;
                span{
                    font-weight: normal;
                    color: var(--primary-color);
                }
            }
        }

        .fond-reservation{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 30%;
            width: auto;

        }

        .annuler-course{
            z-index: 1;
            /* height: 100%; */
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 10px 0;
            gap: 10px;
            
            button{
                
            box-shadow: 0 0px 15px rgba(0, 0, 0, 0.1);
            color: var(--primary-color);
            border-radius: 50px;
            display: flex;
            padding: 5px;
            justify-content: center;
            align-items: center;
            margin-right: 10px;
            background-color: var(--white-color);
            /* transform: scale(1);
	        animation: pulse 2s infinite; */

            i{
                font-size: var(--titre32);
            }
            
            }
        }

        .taxi{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            color: var(--background-color);
            background-color: var(--text-color);
            border-radius: 20px ;
            padding: 10px;
            margin: 10px;
            h1{
                margin-top: 0;
                font-size: var(--titre42);
                font-weight: bolder;
            }
            h4{
                display: flex;
                flex-wrap: wrap;
                /* margin: 0; */
                color: var(--background-color);
                line-height: 0.5rem;
                font-size: var(--text21);

            }
        }
    }
}

@keyframes pulse {
    0% {
      box-shadow: 0 0 0 0px rgba(60, 255, 0, 0.2);
    }
    
    100% {
      box-shadow: 0 0 0 20px rgba(21, 255, 0, 0.089);
    }
  }
  

  

   /* Style pour l'overlay de popup */
.popup-overlay3 {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items:center;
    z-index: 1000; /* Assure que le popup est au-dessus des autres éléments */
  }
  
  /* Style pour le contenu du popup */
  .popup-content3 {
    background: var(--white-color); /* Fond blanc pour le popup */
    border-radius: 20px; /* Coins arrondis */
    padding: 20px;
    max-width: 500px;
    width: 90%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    background-color: transparent;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;    
    p{
      color: var(--white-color);
      margin: 0;
    }
  
  }

  .popup-overlay3 .popup-content3.show{
    opacity: 1;
    transform: translateY(0);
  }

  .close-button3{
    display: flex;
    justify-content: flex-end;
    width: 80%;
    background-color: transparent;

    button{
        background-color: transparent;
        font-size: 2rem;
    }
  }

  .titrepopupMerci{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--text-color);
    border-radius: 20px;
    padding: 10px;
    width: 100%;

    /* margin-bottom: 10px; */
    img{
        width: 40px;
        height: auto;
        margin: 10px;
    }
    h4{
        text-align: left;
        width: 50%;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        color: var(--background-color);
    }
  }

  .titrepopup3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--text-color);
    border-radius: 20px;
    padding: 10px;
    width: 100%;
    margin-bottom: 5px;
    img{
      width: 27px;
      height: auto;
  
    }
    h4{
      font-weight: bolder;
      color: var(--text-color);
      padding-left: 10px;
      margin-top: 0 !important;
      margin-bottom: 0 !important;
    }

    .titre-detail{
        display: flex;
        align-items: center;
        justify-content: space-around;

        .titre{
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            justify-content: center;
            h4{
                color: var(--background-color);
                text-align: start;
                width: 90%;
                margin-left: -10px;
            }
            i{
                color: var(--background-color);
                /* margin-left: 10px; */
            }
        }

        .numero{
            
        }
        h4{
            font-weight: 500;
            color: var(--background-color);}
    }

    .info-detail{
        background-color: var(--background-color);
        width: 100%;
        padding: 10px;
        border-radius: 14px;
        margin-top: 10px; ;
        font-size: var(--text12);
        display: flex;
        flex-direction: column;
        align-items: start;
         p{
            text-align: start;
            color: var(--text-color);
            font-weight: bolder;
            line-height: 1.2rem;

            span{
                font-weight: 500;
                color: var(--text-color);
            }
         }

         h1{
            margin: 0;
            color: var(--text-color);
            font-weight: 1000;
            font-size: var(--titre42);
         }
    }
  }