.splash-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #E8E5DE;
    opacity: 1;
    transition: opacity 1s ease-out;
  }

  .fade-out {
    opacity: 0;
  }
  
  .splash-content {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    img{
        width: 80%;
        height: auto;
    }
  }

  
  .footer-text {
    font-size: 12px;
    height: 10%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e74c3c; /* Ajustez la couleur selon vos besoins */

    label{
        color: #646464;
    }
  }
  
 