.splash-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #E8E5DE;
    opacity: 1;
    transition: opacity 1s ease-out;
  }

  .fade-out {
    opacity: 0;
  }
  
  .splash-content {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
 

    .logo{
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        /* width: 20%; */
        height: auto;
        svg{
          width: 45%;
          /* padding: 1%; */
          color: #E8E5DE;
        }
    }
  
  .footer-text {
    font-size: 12px;
    height: 10%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e74c3c; /* Ajustez la couleur selon vos besoins */

    label{
        color: #646464;
    }
  }
  
  @media (prefers-reduced-motion) {
    path {
      animation: none !important;
      stroke-dasharray: unset !important;
    }
  }
  
  @keyframes fillChange {
    0% {
      fill: #E8E5DE; /* Couleur initiale */
    }
    100% {
      fill: #e74c3c; /* Couleur finale après 5 secondes */
    }
  }
  
  .path {
    animation: fillChange 1s ease-in 1s ease-in; /* Animation de 0s mais avec un délai de 5s */
  }
  
  
  @keyframes grow {
    0% {
      stroke-dashoffset: 1px;
      stroke-dasharray: 0 350px;
      opacity: 0;
      stroke: #f15800;
    }
    10% {
      opacity: 1;
      stroke: #e74c3c;

    }
    40% {
      stroke-dasharray: 350px 0;
      stroke: #f18900;
    }
    /* Moving back */
    85% {
      stroke-dasharray: 350px 0;
    stroke: #e74c3c;

    }
    95%,
    to {
      stroke-dasharray: 0 350px;
    }
  }
  
  path {
    stroke-dashoffset: 1px;
    stroke-dasharray: 350px 0;
    animation: grow 6s ease forwards infinite;
    transform-origin: center;
    stroke: #e74c3c;
    stroke-width: 2.5px;
    animation-delay: 0s; /* Animation du stroke commence immédiatement */
  }

  path .ico{
    stroke-width: 1;
  }
  