/* Conteneur de l'alerte */

@import '../Style.css';
.alert-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background-color: var(--text-color);
    color: var(--background-color);
    padding: 20px;
    border-radius: 20px;
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    text-align: center;
  }
  
  .alert-box p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: bold;
  }
  
  .close-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
  }
  
  .close-btn:hover {
    background-color: #74000c;
  }
  

  .load{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    img{
        width: 50px;
    }
  }